body {
  background-color: lightgray;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#carrusel-tres-bandas {
  background: gray;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

#carrusel-tres-bandas .banda {
  height: 100%;
  position: relative;
  width: 33.33%;
}

#carrusel-tres-bandas .banda .banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#carrusel-tres-bandas .banda .banner.bannerAa {
  background-image: url(img/fruit01.jpg);
  z-index: 2;
}

#carrusel-tres-bandas .banda .banner.bannerAb {
  background-image: url(img/fruit02.jpg);
}

#carrusel-tres-bandas .banda .banner.bannerAc {
  background-image: url(img/fruit03.jpg);
}

#carrusel-tres-bandas .banda .banner.bannerBa {
  background-image: url(img/stairs01.jpg);
}

#carrusel-tres-bandas .banda .banner.bannerBb {
  background-image: url(img/stairs02.jpg);
}

#carrusel-tres-bandas .banda .banner.bannerBc {
  background-image: url(img/stairs03.jpg);
}

#carrusel-tres-bandas .banda .banner.bannerCa {
  background-image: url(img/candle01.jpg);
  opacity: 0;
}

#carrusel-tres-bandas .banda .banner.bannerCb {
  background-image: url(img/candle02.jpg);
  opacity: 0;
}

#carrusel-tres-bandas .banda .banner.bannerCc {
  background-image: url(img/candle03.jpg);
  opacity: 0;
}

#bandaC {
  overflow: hidden;
}

#bandaC .bajada {
  left: 150%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 65%;
  z-index: 10;
}

#bandaC .bajada p {
  background: rgba(255,255,255,.65);
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

#bandaC a {
  background-color: green;
  border-top-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  color: whitesmoke;
  display: inline-block;
  font-size: 18px;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 0;
  width: 100%;
}

#bandaC a:hover {
  background-color: darkgreen;
}

/* MODO RESPONSIVO */
@media (max-width: 575.98px) {
  #bandaA,#bandaB {
    display: none;
  }
  #bandaC {
    width: 100% !important;
  }
}
